<header>
     <a href="#">
        <%= image_tag "wizard_logo.png", height: 63, width: 63 %>
    </a>
    <nav id="site-nav">
        <ul>
            <li id="distance">Distance</li>
            <li id="itinéraire">Itinéraire</li>
        </ul>
    </nav>  
    <button id="menu-button"></button>
</header>
<main>
    <section>
        <h1>Calculez votre consommation en CO2</h1>
        <h2>Selon une distance</h2>
        <h3>Selon un itinéraire</h3>
    </section>
    <section>

        <h1>Calculez via une distance</h1>
        <%= form_for :distance do |f| %>
        <article id="first">
            <%= label_tag :distance, "Saisissez la distance (en kilometre) :" %>
            <div>
                <%= text_field_tag 'distance', '', placeholder: 'Distance en km' %>
                <%= submit_tag "Calculer" %>
            </div>
        </article>
        <article>
            <%= label_tag "Saisissez un mode de transport :" %>
            <div>
                <%= radio_button_tag :type, 'voiture' %>
                <%= label_tag :type_voiture, "Voitures" %>
                <%= radio_button_tag :type, 'train' %>
                <%= label_tag :type_train, "Trains" %>
                <%= radio_button_tag :type, 'bus' %>
                <%= label_tag :type_bus, "Bus" %>
            </div>
        </article>
        <% end %>
        <article id="second">
            <p><%= @status_msg %></p>
            <h1><span><%= @co2 %></span><san>kgCO2e pour <%= @distance %>km en <%= @type %> </san></h1>
        </article>
    </section>
    <section>

        <h1>Calculez via un itinéraire</h1>
        <%= form_for :itineraire do |f| %>
        <article id="first">
            <%= label_tag :start, "Saisissez le départ :" %>
            <div>
                <%= text_field_tag 'start', '', placeholder: 'Départ' %>
            </div>
            <%= label_tag :end, "Saisissez l'arrivée :" %>
            <div>
                <%= text_field_tag 'end', '', placeholder: 'Arrivée' %>
            </div>
        </article>
        <article>
            <%= label_tag "Saisissez un mode de transport :" %>
            <div>
                <%= radio_button_tag :type, 'car' %>
                <%= label_tag :type_car, "Voitures" %>
                <%= radio_button_tag :type, 'trains' %>
                <%= label_tag :type_trains, "Trains" %>
                <%= radio_button_tag :type, 'buss' %>
                <%= label_tag :type_buss, "Bus" %>
            </div>
            <%= submit_tag "Calculer" %>
        </article>
        <% end %>
        <article id="second">
            <p><%= @status_msg %></p>
            <h1><span><%= @co2 %></span><san>kgCO2e pour <%= @distance %>km en <%= @type %> </san></h1>
        </article>
    </section>
</main>